# MacOS DS_Store files
.DS_Store

# Binaries for programs and plugins
*.mp3
*.flv
*.webm
*.opus
*.mp4
*.3gpp
*.ogg
*.exe
*.exe~
*.dll
*.o
*.a
*.so
*.dylib

## Compiled binaries
main
ydl


# Test binary, built with `go test -c`
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage.txt
profile.out

# Dependency directories (remove the comment below to include it)
vendor/

# Output of GoReleaser
dist/

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# GoLand and IntelliJ IDEA files
.idea/

# env files that usually contain secrets or local config
.env
.envrc

dist/

dist/
