# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Ignore all downloaded video and audio files
*.mp3
*.flv
*.webm
*.opus
*.mp4
*.3gpp
*.ogg

# Compiled binaries
ytd
youtube-dl

*.exe
*.test
*.prof

# OSX
.DS_Store

# CODE coverage results
coverage.txt
profile.out

# ENV files
.envrc
.idea