# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Ignore all downloaded video and audio files
*.mp3
*.flv
*.webm
*.opus
*.mp4
*.3gpp
*.ogg

# Compiled binaries
ytd
youtube-dld

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
